#{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

.navbar-nav{
    text-decoration: none;



}
.nav-link-freeconst{
    background-color: #fd4c82;
    border: 1px solid #fd4c82;
    color: white;
    text-decoration: none;
    padding: 10px;

    
}
.footer .card .card-body{
    display: flex;
}